:root{
  --main-text: #303030;
  --color-primary: #0587E9;
  --color-secondary:#2C2C2C;
  --text-secondary: #fff;
  --border-color:#ced4da;
  --errors-color: #dc3545;
  --text-grey:#7F7F7F;
  --box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
}