.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;

  animation: fadeIn 0.25s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  padding: 30px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  background: #fff;

  max-width: 400px;
  width: 90%;

  animation: scaleIn 0.2s ease;

  h2 {
    color: var(--main-text);
    font-size: 20px;
  }

  p {
    color: var(--text-grey);
    text-align: center;
    font-size: 14px;
  }

  .message {
    font-size: 13px;
    color: #2e7d32;
  }

}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}